<h1>Kathiresan and Anandhan both are koiyalalikal</h1>

<ul>
    <li *ngFor="let fruit of products">{{ fruit.name }}</li>
  </ul>


  <form (ngSubmit)="save()">
    <input [(ngModel)]="product.name" name="name" placeholder="Name" required>
    <input [(ngModel)]="product.price" name="price" placeholder="Price" type="number" required>
    <button type="submit">Save</button>
  </form>
  
  <ul>
    <li *ngFor="let p of products">
      {{ p.name }} - ₹{{ p.price }}
       
      <button (click)="remove(p.id)">Delete</button>
    </li>
  </ul>

  <input [(ngModel)]="search" (input)="onSearchChange()" placeholder="Search product..." />

<ul>
  <li *ngFor="let product of products">
    {{ product.name }} - ₹{{ product.price }}
  </li>
</ul>
<button mat-raised-button color="primary">Buy Now</button>
<button (click)="prevPage()" [disabled]="page === 1">Prev</button>
<button (click)="nextPage()">Next</button>
<p>Page {{ page }} of {{ total / pageSize | number:'1.0-0'   }}</p>

 